img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 1px;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.w-46 {
    width: 46%;
}

.w-54 {
    width: 54.5%;
}

.w-100 {
    width: 50%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-w {
    flex-wrap: wrap;
}

.f-d-r {
    flex-direction: row;
}

.f-d-c {
    flex-direction: column;
}

body {
    background: #fdf8f2;
}

.logo {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 15vw;
    font-style: italic;
    top: 0;
    opacity: 1;
    background: #ffffff1c;
}

.a1 {
    transition: all 0.8s;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.p-10 {
    padding: 10%;
}

.px-10 {
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a1.hide {
    top: -15vw;
    /* Di chuyển phần tử vào vị trí ban đầu */
    opacity: 0.3;
}

.date {
    border: 5px;
    background: black;
    color: white;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 8px;
}

.date-desc {
    margin-top: 1vw;
    font-size: 3vw;
}

.f0 {
    font-family: "Sofia", sans-serif;
}

.f1 {
    font-family: "Quicksand", sans-serif;
}

.f2 {
    font-family: "Imperial Script", sans-serif;
}

.f3 {
    font-family: "Bungee Shade", sans-serif;
}

.f4 {
    font-family: "Neonderthaw", sans-serif;
}

.fs-2 {
    font-size: 2vw;
}

.fs-3 {
    font-size: 3vw;
}

.fs-4 {
    font-size: 4vw;
}

.fs-5 {
    font-size: 5vw;
}

.fs-6 {
    font-size: 6vw;
}

.fs-7 {
    font-size: 7vw;
}

.fs-8 {
    font-size: 8vw;
}

.fs-9 {
    font-size: 9vw;
}

.fs-10 {
    font-size: 10vw;
}

.fs-11 {
    font-size: 11vw;
}

.fs-12 {
    font-size: 12vw;
}

.fs-15 {
    font-size: 15vw;
}

.block-input {
    padding: 3vh 6vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.block-input input {
    height: 30px;
    width: 100%;
    padding-top: 1vh;
    border: none;
    /* Ẩn đường viền */
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    font-size: 5vw;
}

.block-input input:focus {
    border-bottom: 2px solid;
}

input[type="radio"] {
    width: 25px;
    height: 25px;
    /* Tăng kích thước lên 1.5 lần */
    margin: 10px;
    /* Thêm khoảng cách xung quanh */
}

.btn {
    padding: 15px 75px;
    background: black;
    color: white;
    border-radius: 30px;
    width: fit-content;
}

.rq::after {
    content: " *";
    color: red;
}

.success {
    background-color: #4CAF50;
}

.err {
    background-color: #E91E63;
}

.toast {
    visibility: hidden;
    color: #fff;
    width: 80vw;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 10;
    right: 5%;
    bottom: 5%;
    font-size: 4vw;
    padding: 4vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: "Quicksand", sans-serif;
}

/* Hiển thị toast */
.toast.show {
    visibility: visible;
    opacity: 1;
}

.toastErr.show {
    visibility: visible;
    opacity: 1;
}

.contain-spinner {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: #f3f3f378;
}

.show {
    display: flex;
}

.spinner {
    border: 8px solid #f3f3f3; /* Màu nền */
    border-top: 8px solid #3498db; /* Màu của phần quay */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Chạy vòng quay */
    margin: 100px auto; /* Canh giữa */
    align-items: center;
    justify-content: center;
}

  /* Animation quay */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }